
 
 
 
 
 body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
background-color: #1b00bf;
font-size: larger;

}



.contact{
    border: solid white;
    padding: 2vh;
    border-radius: 30px;
}


h1{
    padding-bottom: 10vh;
}





nav{ 
   
    border: solid white;
display: flex;
    border-radius:25px;
    padding: 1vh;
    margin-top: 1vh;
    
   
 
    
   
}

a{
    color: white;
    text-decoration: none;
    padding: 0.5vh;
 
}


nav{
 margin: auto;
 
 
}


img{
    
    max-width:10vh;
    max-height: 9,5vh;
   margin-right: 3vh;
   border-radius: 25px;
   margin-right: auto;
   padding: 1vh;
}



.nav{

    display: flex;
   
    margin-right: auto;
    
   padding: none;

  
    
    
}


label{
    font-size: larger;
    font-weight: 600;
}

p{
    font-weight: 500;
    font-size: larger;
}


#name{
    display:grid;
    justify-content: center;

}
